{% extends "base.twig" %}

{% block content %}
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Data</th>
        <th scope="col">Titulo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Previsão</th>
        <th scope="col">Responsável</th>
        <th scope="col">Task</th> <!-- botão -->
        <th scope="col">Incidente</th> <!-- botão -->
        <th scope="col">Andamento</th> <!-- hover text (last) / on click (add) -->
        </tr>
    </thead>
    <tbody>
        {% for pendencia in pendencias %}
            <tr>
            <td>{{ pendencia.inicio }}</td>
            <td>{{ pendencia.titulo }}</td>
            <td>{{ pendencia.tipoPendencia.tipo }}</td>
            <td>{{ pendencia.previsao }}</td>
            <td>"Responsável"</td>
            <td><button type="button" href="{{ pendencia.task }}" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Task
                </button>
            </td>
            <td>{{ pendencia.Incidente }}</td>
            <td>"Andamento"</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}