{% extends "base.twig" %}

{% block content %}
    <table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Inicio</th>
        <th scope="col">Titulo</th>
        <th scope="col">Tipo</th>
        <th scope="col">Previsão</th>
        <th scope="col">Responsável</th>
        <th scope="col">Task</th> <!-- botão -->
        <th scope="col">Incidente</th> <!-- botão -->
        <th scope="col"></th> <!-- hover text (last) / on click (add) -->
        </tr>
    </thead>
    <tbody>
        {% for pendencia in pendencias %}
            <tr>
            <td>{{ pendencia.inicio }}</td>
            <td>{{ pendencia.titulo }}</td>
            <td>{{ pendencia.tipoPendencia.tipo }}</td>
            <td>
                {{ pendencia.previsao }} 
                {% if pendencia.atrasado %}
                    <span class="badge text-bg-danger">Atrasado</span>
                {% endif %}
            </td>
            <td>{{ pendencia.responsavel }}</td>
            <td>   
                {% if pendencia.task %}
                    <a href="{{ pendencia.task }}">task</a>
                {% endif %}
            </td>
            <td>
                {% if pendencia.incidente %}
                    <a href="{{ pendencia.incidente }}">incidente</a>
                {% endif %}
            </td>
            <td>
                <i class="bi bi-chat-left-text" rel="tooltip" title="Andamentos"></i>
                <i class="bi bi-pencil-square" rel="tooltip" title="Editar pendência"></i>
                <i class="bi bi-check2-square" rel="tooltip" title="Concluir pendência"></i>
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}